/* Footer */

.socialmedia{
	color: $color__text-main;
	font-family: $font__main;
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
	margin-bottom: 1rem;
	margin: 0 auto;
	width:100%;
	li{
		text-transform: uppercase;
		list-style-type: none;
		a{
			color: black;
			text-decoration: none;
		}
		a:hover{
			color: red;
		}
	}
	@include lm-phone {
		margin-bottom: 1rem;
		width: 100%;
		padding-left: 0px;
		background: white;
		padding: 1rem 0.5rem 1rem 0.5rem;
		
		li{
			padding-right: 0.20rem;

		}

		li a{
			color: black;
			font-size: 12px;
		}
		
	}
	@include lm-tablet {
		margin-bottom: 1rem;
		width: 100%;
		padding: 1rem 0.5rem 1rem 0.5rem;

		li{
			padding-right: 0.20rem;
		}

		li a{
			color: black;
			font-size: 16px;
		}
		
	}
	@include lm-desktop {
		margin-bottom: 1rem;
		width: 70%;
		float: left;

		padding: 1rem 0.5rem 1rem 0.5rem;

		li{
			padding-right: 0.20rem;
		}

		li a{
			color: black;
			font-size: 18px;
		}
		
	}

}

