/* Footer */

.socialmedia{
	color: $color__text-main;
	font-family: $font__main;
	display: flex;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
	li{
		font-size: 14px;
		text-transform: uppercase;
		list-style-type: none;
	a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: red;
	}
	}
	@include lm-phone {
		// background-color: brown;
	}
	@include lm-desktop {
		// background-color: red;
		li{
			font-size: 20px;

		}
	}

}

