// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



@mixin lm-phone {
  @media (min-width: #{$lm-phone-width}) {
    @content;
  }
}

@mixin lm-tablet {
  @media (min-width: #{$lm-tablet-width}) {
    @content;
  }
}

@mixin lm-desktop {
  @media (min-width: #{$lm-desktop-width}) {
    @content;
  }
}




