/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.content-area {
  width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: $font__main;
    color: $color__text-main;

}


.hero {
    background: url(../../images/background.jpeg) fixed no-repeat center center;
    justify-content: center;
    height: 1000px;
    margin-bottom: 3rem;
    width:100%;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    .herotext{
    		text-align: center;
    		width:90%;
    		line-height: 1.80rem;
    		padding-bottom: 10rem;
    p {
        color: black;
        font-size: 16px;
        text-transform: none;
    }
    @include lm-desktop {
    	// display: flex;
    	// align-items: center;
    	// .herotext{
    	// 	text-align: center;
    	// 	width:50%;
    	// 	line-height: 1.90rem;
    	// 	padding-bottom: 45rem;
    	}

    }
}


.what{
	width:100%;
	text-align:center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	h2{
		text-transform: uppercase;
	}
}

.decorative {
    border: none;
    color: black;
    margin-bottom: 3rem;
    max-width: 320px;
    padding: 0;
    width: 50%;
    text-align: center;
}

.about {
	width:100%;
	text-align:center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	h2{
		text-transform: uppercase;
	}
}

.education{
	width:100%;
	text-align:center;
	background: yellow;
	padding: 1rem 1.5rem 1rem 1.5rem;
	.education-list{
		list-style-type: none;
		margin-left: auto;
		padding-left: 0px;
		li{
			line-height: 1.5rem;
		}
	}

.button{
	background: black;
	color: white;

}

}

.love{
	width:100%;
	text-align:center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	.love-list{
		list-style-type: none;
		margin-left: auto;
		padding-left: 0px;

	}


}



/* button - default css */ 

.button {
   border-top: 1px solid #96d1f8;
   background: yellow;
   background: -webkit-gradient(linear, left top, left bottom, from(#d8f216), to(#c1d665));
   background: -webkit-linear-gradient(top, #d8f216, #c1d665);
   background: -moz-linear-gradient(top, #d8f216, #c1d665);
   background: -ms-linear-gradient(top, #d8f216, #c1d665);
   background: -o-linear-gradient(top, #d8f216, #c1d665);
   padding: 12px 24px;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: black;
   font-size: 16px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   text-transform: uppercase;
   }
.button:hover {
   border-top-color: #b8dbb8;
   background: yellow;
   color: red;
   }
.button:active {
   border-top-color:#aeb2c2;
   background: #091954;
   }

/* WORK page - Projects */


	.project-type-block-wrapper a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: red;
	}

	h3{
		text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
	}



.wrapper{
  width: 100%;
  background: white;
}

.project-type-blocks{
    padding-top: 2rem;
    text-align: center;
    align-items: center;
    width: 100%;

  @include lm-phone {
      background-color: blue;
  }


  
  @include lm-tablet {
      width: 50%;
      background-color: white;
      margin: 0 auto;


    .project-type-block-wrapper:nth-child(odd) {
      width: 48%;
      float: left;
      padding-top: 5rem;
      padding-left: 1rem;
      padding-right: 1rem;

    }

    .project-type-block-wrapper:nth-child(even) {
      width: 48%;
      float: right;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 5rem;
    }
  }


}





// Taxonomy-project-type page

.project-menu h2 {
  text-align: center;
  a{
  text-decoration: none;
  font-size: 40px;
  color: black;
}
a:hover{
  color: red;
}
}

.page-header{
  text-align: center;
  padding: 1rem;
  color: grey;
}

.project-menu-item{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  
  .project-thumbnail{
    width: 30%;
    text-align: center;
    padding: 1.5rem 1.5rem;
    img{
      border-radius: 50%;
    }
  }
  .project-info{
    width: 70%;
    text-align: left;
    padding: 1.5rem 1.5rem;
  }
}

// Single Project page


.single-project-title{

text-align: center;
color: purple;
font-size: 1.5rem;
padding-bottom: 1.5rem;
margin: 0 auto;

}

.date{
  text-align: center;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.single-project-thumbnail{
  width: 40%;
  text-align: center;
  margin: 0 auto;
  img {
    border-radius: 50%;
  }

}

.single-project-more-images{
  text-align: center;
  margin: 0 auto;
}

.single-project-more-content{
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.single-project-feelings{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: purple;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 1.75rem;

}


.contact-button{
  padding:2rem;
  text-align: center;
}



